/**************** Fonts ****************/
@font-face {
    font-family: "JetBrains Mono Bold";
    src: url("../assets/fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../assets/fonts/JetBrains_Mono/static/JetBrainsMono-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Barlow";
    src: url("../assets/fonts/Barlow/Barlow-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Barlow Bold";
    src: url("../assets/fonts/Barlow/Barlow-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Barlow ExtraBold";
    src: url("../assets/fonts/Barlow/Barlow-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Barlow Black";
    src: url("../assets/fonts/Barlow/Barlow-Black.ttf") format("truetype");
}


/**************** Common ****************/
html, body {
    min-height: 100%;
    min-width: 100%;

    height: 100%;
    width: 100%;
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* for debug only */
    /*outline: 1px solid #f00 !important;*/
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;

    overflow-y: visible;
    background-color: black;
    color: white;

    font-family: "JetBrains Mono", Arial, sans-serif;
    font-size: 16px;
}

footer {
    z-index: 2;
    width: 100%;

    display: flex;
    flex: none;

    padding: 64px 32px;

    background-color: #111;

    align-items: center;
    overflow: hidden;
}

footer>div {
    margin: 0 32px;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

button {
    border: none;
    background: none;
    background-color: transparent;
}

.empty-space-x1 {
    min-height: 128px;
}

.empty-space-x2 {
    min-height: 256px;
}

.nav-bar {
    display: flex;
    flex: none;

    align-items: center;
    overflow: hidden;
    z-index: 999;
    width: 100%;

    padding: 16px 32px;

    background-color: rgba(0, 0, 0, 0.5);
}

.nav-bar-title {
    z-index: 99;

    font-family: "JetBrains Mono Bold", Arial, sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
}

.nav-overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);

    overflow-x: hidden;
    transition: 0.3s;

    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.grid-container.overlay-btns {
    position: relative;
    width: 256px;
    margin: auto auto;

    top: 50%;
    transform: translateY(-50%);

    text-align: center;
    grid-template-columns: auto;
}

.footnote {
    display: block;

    font-family: "Barlow", Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.1px;
}

.footnote>div{
    margin: 16px;
    padding: 16px 24px;

    border-radius: 24px;
    background-color: #262626;
}

.footnote a {
    color: #eee;
    padding: 2px 4px;
    border-radius: 6px;

    transition: 0.2s;
}

.footnote p {
    color: #aaa;
    margin: auto;
    max-width: 960px;
}

.footnote a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.footnote a:active {
    background-color: rgba(255, 255, 255, 0.1);
}

.logo {
    display: inline-block;
    height: 40px;
    width: auto;
    margin: auto 24px;

    border-radius: 64px;
}

#tab-name {
    display: none;
}


/**************** Typefaces ****************/
h1 {
    font-family: "Barlow Bold", Arial, sans-serif;
    font-size: 3.5em;
    line-height: 0.85;
    display: inline-block;
}

h2 {
    font-family: "Barlow ExtraBold", Arial, sans-serif;
    font-size: 2.5em;
    margin-bottom: 16px;
}

h3 {
    font-family: "Barlow", Arial, sans-serif;
    font-size: 1.5em;
}

.subtitle {
    font-family: "Barlow Black", Arial, sans-serif;
    font-size: 1.5em;

    text-transform: uppercase;
    letter-spacing: 2px;

    display: inline-block;

    margin: 16px 0;
}

.btn-font {
    font-family: "JetBrains Mono Bold", Arial, sans-serif;
    font-size: 1em;
}

.btn-font>i {
    font-size: 1em;
    font-weight: bold;
}

.btn-link-font {
    font-family: "JetBrains Mono Bold", Arial, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}

.btn-link-font {
    font-family: "JetBrains Mono Bold", Arial, sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}

.body-font {
    font-family: "Barlow", Arial, sans-serif;
    font-size: 1em;
    line-height: 2;
    letter-spacing: 0.1px;
}

.footer-font {
    font-family: "JetBrains Mono Bold", Arial, sans-serif;
    font-size: 12px;
}

.footer-font-alt {
    font-family: "JetBrains Mono", Arial, sans-serif;
    font-size: inherit;
}

.font-superscript{
    padding: 0 2px;
    vertical-align: super;
    font-size: 75%;
  }
  
  .font-superscript:hover {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.25);
  }


/**************** Interactive ****************/
.btn {
    border: none;
    border-radius: 64px;
    padding: 12px 24px;

    background-color: white;
    color: black;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);

    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    -webkit-transition: 0.3s;

    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.disabled {
    cursor: default;
    pointer-events: none;
}

.btn:hover {
    transform: translateY(-6px);
}

.btn:active {
    transform: translateY(0);
}

.btn .tooltip {
    visibility: hidden;
    width: fit-content;

    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

    text-align: center;
    padding: 4px 8px;
    border-radius: 12px;

    position: absolute;
    bottom: 100%;
    margin: 0 auto;
    z-index: 99;
}

.btn:hover .tooltip {
    visibility: visible;
}

.btn-text {
    display: inline-block;
    border: none;
    border-radius: 64px;
    padding: 8px 16px;
    margin: 0 12px;

    background: none;
    color: #fff;

    transition: 0.3s;
    -webkit-transition: 0.3s;

    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.btn-text:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.btn-text:active {
    transform: translateY(4px);
}

.btn-text.current {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

#btn-gotop {
    float: right;
    z-index: 99;
    position: sticky;
    margin: 64px 64px;
    bottom: 64px;
    right: 0;
}

.btn-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    min-height: 24px;

    font-size: 2.75em;
    line-height: 1;
    color: white;
    border: none;

    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    -webkit-transition: 0.3s;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-icon:hover {
    transform: translateY(-4px);
}

.btn-icon i {
    display: inline-block;
    text-align: center;
    margin: auto;

    text-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
}

.btn-icon.shape {
    border-radius: 64px;
    background-color: white;
    color: #262626;

    padding: 0 24px;

    font-size: 1.25em;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.2);
}

.btn-proj {
    position: relative;

    border-radius: 24px;
    background-color: #262626;
    color: #f1f1f1;

    overflow: hidden;
    display: flex;
    flex-direction: column;

    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    transition-property: transform;
    transition-duration: 0.3s;
}

.btn-proj:hover {
    transform: scale(1.05);
}


.btn-proj:hover .media-preview{
    opacity: 1;
    scale: 1;
}

.btn-proj:active {
    transform: scale(1);
}

.btn-proj img {
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
}

.btn-proj .media-preview{
    position: absolute;

    object-fit: cover;
    width: 100%; 
    height: 100%;

    opacity: 0;
    scale: 1.2;

    transition: scale 1s ease;
}

.btn-proj div{
    z-index: 1;
    padding: 0 24px;
    pointer-events: none;
}

.btn-proj div>p.title {
    font-family: "Barlow ExtraBold", Arial, sans-serif;

    margin-top: 24px;
    margin-bottom: 4px;
    font-size: 24px;
}

.btn-proj div>p.des {
    padding-bottom: 24px;

    font-family: "Barlow Bold", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    opacity: 50%;
}

.overlay-btns>.btn-text {
    padding: 24px 32px;
    margin: 8px 0;

    font-size: 1.5em;
}

.nav-overlay .btn-close {
    position: absolute;
    display: block;

    right: 0;
    top: 0;

    font-size: 3em;
    margin: 24px 48px;

    color: #fff;

    transform: scale(1);
    transition: 0.3s ease;

    cursor: pointer;
    user-select: none;
}

.nav-overlay .btn-close:hover {
    transform: scale(1.25);
}

.nav-overlay .btn-close:active {
    transform: scale(1);
}

#nav-menu-btn {
    display: none;
}

#footer-link-btns {
    margin-left: auto;
}

/**************** Reusable ****************/
.line {
    display: block;
    height: 1px;
    margin: 0 16px;

    background-color: #aaa;
}

.grid-container {
    min-width: 50%;
    margin: 0 128px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.grid-container.dynamic-corner{
    grid-gap: 8px;
}

.dynamic-corner div{
    border-radius: 0 0 0 0;
}

.dynamic-corner>div:first-child{
    border-radius: 24px 0 0 0;
}

.dynamic-corner>div:nth-child(2){
    border-radius: 0 24px 0 0;
}

.dynamic-corner>div:last-child{
    border-radius: 0 0 24px 0;
}

.dynamic-corner>div:nth-last-child(2){
    border-radius: 0 0 0 24px;
}

.banner {
    z-index: -1;
    overflow: hidden;

    width: 100%;
    height: calc(100vw * 0.5625);
    min-height: 50%;

    position: fixed;
    margin: 0;

    transition: opacity 1s ease-in-out;
}

.banner.aspect-4x3 {
    height: calc(100vw * 0.75);
}

.banner>img {
    width: 100%;
    object-fit: cover;
}

.banner>video {
    width: 100%;
    object-fit: cover;
}

.parallax-solid {
    z-index: 2;
    position: relative;
    top: 56.25vw;

    background-color: inherit;
}

.parallax-solid.aspect-4x3 {
    top: 75vw;
}

.text-box {
    max-width: 700px;
    min-width: 350px;
}

.text-box.center {
    margin: 0 auto;
}

.text-box.contained {
    max-width: 700px;
    min-width: 0;
}

.float-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.h-container {
    display: flex;
    width: auto;
}

.h-container>* {
    margin: 0 24px;
}

.v-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.v-container>* {
    flex-shrink: 1;
}

/* Home page content */
.scroll-snap-container {
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: visible;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.scroll-snap-item {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    display: flex;
    position: relative;
}

.scroll-snap-item>img {
    display: block;
    margin: auto;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


/**************** Animations ****************/
.anim-fade-in {
    animation: 1s ease 0s 1 fade-in;
    animation-fill-mode: backwards;
    will-change: transform, opacity;
}

.anim-scale-out-fade-in {
    animation: 1s cubic-bezier(0, .82, .27, .98) 0s 1 scale-out-fade-in;
    animation-fill-mode: backwards;
    will-change: transform, opacity;
}

.anim-scale-fade-in {
    animation: 1s cubic-bezier(0, .82, .27, .98) 0s 1 scale-fade-in;
    animation-fill-mode: backwards;
    will-change: transform, opacity;
}

@keyframes scale-fade-in {
    0% {
        opacity: 0;
        transform: scale(5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scale-out-fade-in {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/**************** Small / Touch Screen Support ****************/


@media only screen and (max-width: 1000px) {
    body {
        font-size: 15px;
    }

    footer {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 32px;

        padding: 32px;

        align-content: center;
        justify-content: space-evenly;

    }

    footer>div {
        margin: 0;
    }

    #footer-info {
        margin: 0 auto;
        margin-left: 16px;
    }

    .nav-bar {
        padding-left: 24px;
        padding-right: 8px;
    }

    .nav-overlay .btn-close {
        margin: 24px 32px;
    }

    .grid-container.overlay-btns {
        display: flex;
        flex-direction: column;

        padding: 32px;

        align-content: center;
        justify-content: space-evenly;
    }

    #tab-name {
        display: block;
    }

    /**************** Typefaces ****************/
    h1 {
        font-size: 2em;
    }

    .subtitle {
        font-size: 1.5em;
    }

    .btn-font {
        font-size: 14px;
    }


    /**************** Empty ****************/
    .empty-space-x1 {
        height: 64px;
    }

    .empty-space-x2 {
        height: 128px;
    }

    #top-space {
        min-height: 16px;
        flex: none;
    }


    /**************** Interactive ****************/
    .btn-proj {
        border-radius: 16px;
    }

    #btn-gotop {
        margin: 32px;
        bottom: 32px;
    }

    #footer-link-btns {
        margin-left: 0;
        margin-right: 0;
    }

    #nav-bar-btns a:not(:last-child) {
        display: none;
    }

    #nav-menu-btn {
        display: inline-block;
    }


    /**************** Reusables ****************/
    .h-container>* {
        margin: 0 16px;
    }

    .banner {
        min-height: 50%;
        width: 100%;
    }

    .banner>img {
        width: 100%;
        height: 100%;
    }

    .parallax-solid {
        top: 50vh;
    }

    .text-box {
        padding: 0 32px;
        margin: 0;
    }

    .text-box.contained {
        padding: 0;
        margin: 0;
    }

    .grid-container {
        grid-template-columns: auto auto;
        margin: 0 16px;
        gap: 16px;
    }

    .footnote {
        margin: 16px 0;
        padding: 16px 32px;
        border-radius: 0;
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape){
    .banner {
        min-height: 0;
        width: 100%;
        height: auto;
    }

    .parallax-solid {
        top: 100%;
    }

    .grid-container.overlay-btns {
        flex-direction: row;
    }
}

@media screen and (max-width: 1000px) and (orientation: portrait){
    .grid-container {
        grid-template-columns: auto;
    }
}