/**************** Common ****************/
.image {
    position: relative;
    display: block;
    overflow: hidden;
    
    border-radius: 16px;

    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.image.single {
    width: calc(100% - 32px);
    margin: 16px;
    border-radius: 24px;
}

.image.square {
    width: 50%;
    margin: 0 auto;
}

.image>img {
    width: 100%;
}

.image>p.caption {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: 8px 12px;
    margin: 8px;

    border-radius: 16px;

    background: #262626;
    background: rgba(0, 0, 0, 0.5);
    color: #eee;

    font-family: "JetBrains Mono", Arial, sans-serif;
    font-size: 13px;
    text-align: left;

    opacity: 0;
    transition: all 0.3s;
}

.image:hover>p.caption {
    opacity: 1;
}

img.proj-title {
    margin-bottom: 0;
}


/**************** Interactive ****************/
.btns-top {
    z-index: 99;
    float: left;
    position: fixed;
    top: 8px;
    padding: 32px 64px;

    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;

    opacity: 0;
    transition: 0.3s;
}

.btn-return {}

.btn-title {}


/**************** Reusable ****************/
.content-grid {
    display: grid;

    max-width: 960px;
    margin: 0 auto;

    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 0;
}

.content-bg {
    width: 100%;

    padding: 96px 0;
}

.gallery {
    display: flex;

    width: 100%;
    padding: 0 calc(50% - 480px);

    background-color: transparent;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overscroll-behavior: auto;
    flex-wrap: nowrap;

    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.gallery::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.gallery>* {
    flex: 0 0 auto;
    width: 80%;
    height: auto;

    margin: 0;
    margin-right: 48px;

    scroll-snap-align: center;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gallery.portrait {
    padding: 24px;
    border-radius: 52px;
    width: 320px;
}

.gallery.portrait>img {
    border-radius: 32px;
    width: 100%;
    height: auto;
    margin-left: 0;
}

.gallery-alt.landscape>img {
    width: 50%;
}

.gallery-controls {
    display: flex;
    justify-content: flex-end;

    width: 80%;
    padding: 0 calc(50% - 480px);
    margin: 8px auto;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gallery-controls.portrait {
    width: 320px;
}

.gallery-indicators {
    display: flex;
    margin: 0 auto;
    margin-top: 32px;
    align-items: center;
    justify-content: center;
}

.indicator {
    cursor: pointer;
    height: 10px;
    width: 10px;

    background-color: #aaa;
    border-radius: 32px;

    margin: 4px;
    margin-top: 12px;
    margin-bottom: 12px;

    transition: 0.4s;
}

.indicator:hover {
    transform: scale(1.4);
}

.indicator.active {
    width: 20px;
    background-color: #ffcc00;
}

.btn-gallery-prev {
    margin-right: 16px;
}

.btn-gallery-next {
    margin-left: 16px;
}

.btn-gallery-prev,
.btn-gallery-next {
    display: inline-block;

    padding: 2px;
    color: #262626;
    opacity: 1;

    font-size: 48px;
    text-align: center;

    transition: 0.3s ease;

    cursor: pointer;
    user-select: none;
}

.btn-gallery-prev:hover,
.btn-gallery-next:hover {
    transform: scale(1.2);
}

.btn-gallery-prev:active,
.btn-gallery-next:active {
    transform: scale(1);
}

.btn-gallery-prev.disabled,
.btn-gallery-next.disabled {
    opacity: 0.1;
}

/**************** Reusable ****************/
.quick-link-container {
    display: flex;
    justify-content: space-between;
    margin: 0 64px;
    margin-bottom: 32px;
}

.dropdown {
    position: relative;
    display: flex;
}

.dropdown-content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #fff;
    border-radius: 24px;

    max-width: 75vw;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);

    z-index: 9;
    overflow: hidden;

    display: inline-block;
    top: 88px;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.dropdown-content button{
    display: block;
    width: calc(100% - 16px);
    white-space: nowrap;

    padding: 16px 24px;
    margin: 8px;
    border-radius: 16px;

    cursor: pointer;

    color: black;
    font-family: "JetBrains Mono Bold", Arial, sans-serif;
    font-size: inherit;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;

    transition: 0.1s;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-content button:hover {
    background-color: #eee;
}

.dropdown-content button:active {
    background-color: #fff;
}


/**************** Small Screen Support ****************/
@media only screen and (max-width: 1000px) {
    .image {
        border-radius: 8px;
    }

    .image.single {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .image.square {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .image>p.caption {
        width: 100%;

        margin: 0;
        padding: 8px 12px;
        border-radius: 0;

        font-size: 75%;

        opacity: 1;
        transform: scale(1);
    }

    .content-grid {
        padding: 0 32px;
        gap: 64px;

        grid-template-columns: auto;
    }

    .gallery {
        padding: 8px;
    }

    .gallery.portrait {
        border-radius: 48px;
    }

    .gallery>* {
        margin-right: 8px;
    }

    .gallery.portrait>img {
        border-radius: 24px;
    }

    .gallery-controls {
        text-align: center;
        padding: 0;
        width: 100%;

        justify-content: center;
    }

    .gallery-controls.portrait {
        width: 100%;
    }
    
    
    /**************** Interactive ****************/
    .btns-top {
        top: 8px;
        padding: 8px 16px;
    }

    .btn-gallery-prev,
    .btn-gallery-next {
        margin: 0 32px;
    }

    .quick-link-container {
        display: grid;
        grid-template-columns: auto;
        gap: 16px;
        justify-content: center;
        text-align: center;
    }

    .btn-return>span {
        display: none;
    }

    .btns-top>#empty{
        display: none;
    }
}


/* Safari 11+ */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {

        /* adds space at the far right */
        .gallery::after {
            content: '';
            padding-right: inherit;
        }
    }
}