@font-face {
  font-family: "Roboto Bold";
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("../assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Light";
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

html {
  height: 100%;
  width: 100vw;
  overflow-y: auto;
  -ms-overflow-style: scrollbar;
}

* {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

body {
  height: 100%;
  width: 100vw;
  color: white;
  overflow-y: auto;
  -ms-overflow-style: scrollbar;
  background-color: black;
  font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

footer {
  height: 25vh;
  padding: 16px;
  padding-bottom: 64px;
  color: white;
  background-color: #111;
  font-size: 100%;
  font-family: "Roboto Light", Arial, Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.5;
  letter-spacing: 0.4px;
  display: grid;
  gap: 64px;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: space-evenly;
}

img {
  width: -moz-calc(100% - 32px);
  width: -webkit-calc(100% - 32px);
  width: -o-calc(100% - 32px);
  width: calc(100% - 32px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

.img-banner{
  width: 100%;
  margin: 0;
  border-radius: 0;
}

video {
  width: 100%;
  margin: auto;
  padding: 0;
}

.video-banner{
  margin-top: 16px;
}

a {
  text-decoration: none;
}

.link {
  color: white;
  font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.link:hover {
  border-bottom: 1px solid white;
}

.btn {
  font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 100%;
  border: none;
  background: none;
  background-color: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
  opacity: 0.6;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.btn:hover {
  opacity: 1;
}

.btn .tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 4px 0;
  border-radius: 8px;

  font-family: "Roboto Light", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 75%;

  position: absolute;
  bottom: 100%;
  left: 50%; 
  margin-left: -60px;
  z-index: 99;
}

.btn:hover .tooltip {
  visibility: visible;
}

.btn-shape{
  font-family: "Roboto Light", Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: white;
  font-size: 14px;
  background: none;
  border-radius: 32px;
  border: 2px solid white;
  cursor: pointer;
  display: inline-block;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.btn-shape:hover{
  opacity: 1;
  background-color: white;
  color: black;
}

.btn-icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  min-height: 16px;
  padding: auto;
  font-size: 150%;
  color: white;
  opacity: 0.6;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  margin: 0 8px;
}

.btn-icon:hover{
  opacity: 1;
}

.btn-icon i{
  display: block;
  text-align: center;
  margin: auto;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  border-radius: 1px;
  display: inline-block;
  padding: 3px;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.overlay {
  position: absolute;
  z-index: 1;
}

.parallax {
  width: 100vw;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}

.horizontal-container {
  display: flex;
  overflow: auto;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.grid-container img{
  width: 100%;
}

.center-container{
  margin: auto;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  padding: 4em;
  width: 50%;
  margin: auto;
  line-height: 1.5;
}

.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.overlay-text {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: 1;
}

.parallax-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 125%;
  text-align: center;
  line-height: 2;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  z-index: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.parallax-btn:hover {
  cursor: pointer;
  font-size: 150%;
}

.indicator {
  cursor: pointer;
  height: 8px;
  width: 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s;
  margin: 8px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.active, .indicator:hover {
  background-color: white;
}

#navbar{
  z-index: 9;
  display: block;
  font-size: 135%;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: bottom 0.3s;
}

#navbar-bg{
  margin: 8px;
  padding: 16px;
  border-radius: 16px;
  background-color: #262626;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.font-normal {
  font-family: "Roboto Light", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 95%;
  line-height: 1.8;
  letter-spacing: 0.8px;
}

.font-medium{
  font-family: "Roboto Light", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 125%;
  line-height: 1.4;
  letter-spacing: 0.8px;
}

.font-large{
  font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 16px;
}

.font-condensed{
  font-family: "Roboto Condensed Bold", Arial, Helvetica, sans-serif;
}

.font-bold {
  font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
  font-weight: 100;
}

#font-title {
  font-family: "Roboto Condensed Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 8vw;
  line-height: 0.8;
  text-transform: uppercase;
}

#font-title-animated {
  font-family: "Roboto Condensed Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 8vw;
  line-height: 0.8;
  text-transform: uppercase;
  animation: 1s ease-in-out 1s 1 fade-out;
  animation-fill-mode: forwards;
}

#name {
  font-family: "Roboto Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 150%;
  line-height: 0.8;
  position: fixed;
  margin: 1.5em;
  z-index: 99;
}

#email {
  font-family: "Roboto Light", Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 65%;
}

.credits {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 4px;
  line-height: 1;
  font-family: "Roboto Light", Arial, Helvetica, sans-serif;
  font-weight: 100;
}

#credits-small {
  font-size: 0.75em;
}

@media only screen and (max-device-width: 1400px) {
  .parallax {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 800px) {
  .parallax {
    background-attachment: scroll;
  }

  .text-box {
    padding: 1em;
    width: 90%;
    margin: auto;
  }

  .overlay-text {
    position: static;
    margin: 1em;
    margin-top: 1.5em;
  }

  .grid-container {
    padding: 0;
    grid-template-columns: auto;
  }

  #name {
    font-size: 1.25em;
    margin: 1em;
    margin-bottom: 2em;
  }

  #font-title-animated {
    animation: none;
  }

  .horizontal-container {
    justify-content: center;
  }

  #navbar {
    font-size: 100%;
  }

  img{
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  footer{
    gap: 16px;
    grid-template-columns: auto;
    text-align: center;
  }

  .btn-icon{
    width: 64px;
    height: 64px;
  }

  .btn-icon i{
    font-size: 150%;
  }

  .font-medium{
    font-size: 110%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

#parallax-pic-0 {
  background-image: url("../assets/images/atcw_power_day.jpg");
  min-height: 768px;
}

#parallax-pic-1 {
  background-image: url("../assets/images/atcw_power_night.jpg");
  min-height: 768px;
}

#parallax-pic-2 {
  background-image: url("../assets/images/atcw_signal.jpg");
  min-height: 768px;
}

#parallax-pic-3 {
  background-image: url("../assets/images/tbh_ss_4.jpg");
  min-height: 540px;
}

#parallax-pic-4 {
  background-image: url("../assets/images/hd_frame_0.jpg");
  min-height: 540px;
}

#parallax-pic-5 {
  background-image: url("../assets/images/ap_frame.jpg");
  min-height: 270px;
}

#parallax-pic-6 {
  background-image: url("../assets/images/dayless_showcase_tools.jpg");
  min-height: 540px;
}

#parallax-pic-7 {
  background-image: url("../assets/images/oblivion_cover.jpg");
  min-height: 540px;
}

#parallax-solid {
  background-color: black;
  z-index: 2;
}
