.scroll-snap-container{
    display: block;
    overflow: visible;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.scroll-snap-item{
    scroll-snap-align: start;
    height: 100vh;
    padding: 10%;
    box-sizing: border-box;
    clear: both;
}