.scroll-snap-container{
    display: block;
    overflow-y: visible;
    height: 100%;
    scroll-snap-type: y mandatory;
}

.scroll-snap-item{
    scroll-snap-align: start;
    height: 100%;
    min-height: 720px;
    padding: 10%;
    box-sizing: border-box;
    clear: both;
}

@media only screen and (max-width: 1000px) {
    .scroll-snap-item{
        padding: 32px;
    }
}